# Imports

In [ ]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from scipy.spatial.distance import euclidean
from scipy.stats import mode

Loading dataset

In [ ]:
dataset = load_wine()

Making dataframe from loaded dataset

In [ ]:
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
df['class'] = dataset.target
df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  class
0    14.23        1.71  2.43  ...                          3.92   1065.0      0
1    13.20        1.78  2.14  ...                          3.40   1050.0      0
2    13.16        2.36  2.67  ...                          3.17   1185.0      0
3    14.37        1.95  2.50  ...                          3.45   1480.0      0
4    13.24        2.59  2.87  ...                          2.93    735.0      0

[5 rows x 14 columns]

Printing basic information about dataset

In [ ]:
df.describe()

          alcohol  malic_acid  ...      proline       class
count  178.000000  178.000000  ...   178.000000  178.000000
mean    13.000618    2.336348  ...   746.893258    0.938202
std      0.811827    1.117146  ...   314.907474    0.775035
min     11.030000    0.740000  ...   278.000000    0.000000
25%     12.362500    1.602500  ...   500.500000    0.000000
50%     13.050000    1.865000  ...   673.500000    1.000000
75%     13.677500    3.082500  ...   985.000000    2.000000
max     14.830000    5.800000  ...  1680.000000    2.000000

[8 rows x 14 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  class                         178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

Splitting into labels and features

In [ ]:
label = 'class'
X = df.drop([label], axis=1)
y = df[label]
print(X.head())
print(y.head())

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]
0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

Splitting into train and test data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Creating functions that performs K-Nearest-Neighbors algorithm

In [ ]:
def KNN(dataPoint, X, y, n_neighbors=5):
  distances = np.array([])
  for index, point in enumerate(X.values):
    distances = np.append(distances, 
                          np.array([index, euclidean(dataPoint, point)]))
    distances = distances.reshape(-1, 2)
    distances = distances[distances[:,1].argsort()]
  neighbors = distances[:n_neighbors, 0].astype('int32')
  classes = y.values[neighbors]
  dataPointClass = mode(classes)[0][0]
  return dataPointClass

Testing the function for k = 5

In [ ]:
preds = np.array([], dtype='int8')
for point in X_test.values:
  preds = np.append(preds, KNN(point, X_train, y_train, n_neighbors=5))

print(f'Predicted classes: {preds}')
print(f'Actual classes: {y_test.values}')

print(f'''\nPredicted correctly = {len(np.flatnonzero(preds == y_test.values))},
Number of datapoints = {len(y_test.values)}
Acc = {len(np.flatnonzero(preds == y_test.values)) / len(y_test.values)}''')

Predicted classes: [2 0 2 1 0 1 1 2 1 2 0 1 0 1 0 2 1 2 0 0 0 2 0 2 2 1 2 2 1 2 2 2 0 1 1 0]
Actual classes: [2 0 1 1 0 1 1 1 2 1 1 1 2 1 0 1 1 1 0 0 0 2 0 0 2 2 1 2 1 1 2 1 0 1 2 0]

Predicted correctly = 22,
Number of datapoints = 36
Acc = 0.6111111111111112

Using sklearn's KNN classifier to check the results

In [ ]:
for k in [3, 5, 7, 9, 11, 13]:
  model = KNeighborsClassifier(n_neighbors=k)
  model.fit(X_train, y_train)
  print(f'Neighbors = {k}, acc = {model.score(X_test, y_test)}')

Neighbors = 3, acc = 0.6388888888888888
Neighbors = 5, acc = 0.6111111111111112
Neighbors = 7, acc = 0.6111111111111112
Neighbors = 9, acc = 0.5833333333333334
Neighbors = 11, acc = 0.5833333333333334
Neighbors = 13, acc = 0.6388888888888888

Testing my function with k = 9

In [ ]:
preds = np.array([], dtype='int8')
for point in X_test.values:
  preds = np.append(preds, KNN(point, X_train, y_train, n_neighbors=9))

print(f'Predicted classes: {preds}')
print(f'Actual classes: {y_test.values}')

print(f'''\nPredicted correctly = {len(np.flatnonzero(preds == y_test.values))},
Number of datapoints = {len(y_test.values)}
Acc = {len(np.flatnonzero(preds == y_test.values)) / len(y_test.values)}''')

Predicted classes: [1 0 2 1 0 1 1 1 1 2 0 2 0 1 0 2 1 2 0 0 0 2 0 2 2 1 1 1 1 1 1 2 0 1 1 0]
Actual classes: [2 0 1 1 0 1 1 1 2 1 1 1 2 1 0 1 1 1 0 0 0 2 0 0 2 2 1 2 1 1 2 1 0 1 2 0]

Predicted correctly = 21,
Number of datapoints = 36
Acc = 0.5833333333333334

That is just a basic algorith implementation. As we can see it is not good for our dataset. On the Internet we can find that for example Random Forest algorithm performs much better. I'll check it below

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
print(f'Acc = {model.score(X_test, y_test)}')

Acc = 0.9722222222222222

Accuracy seems to be very high, so it is better to use this algorithm for wine dataset.